.board {
	  display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 80%;
}

.board * {
    box-sizing: border-box;
    user-select: none;
    cursor: default;
}

.subBoardsPanel {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid gray;
  background-color: rgb(185, 110, 0);
}

.subBoard {
    width: 50%;
    height: 50%;
    display: flex;

    .subBoardItem {
        display: flex;
        flex-direction: column;
    }
}

.checkersContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.trianglePoint {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    stroke: black;
    stroke-width: 2px;
}

.visualPoint {
    transform: rotate(180deg);
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.subBoardRotated {
    @extend .subBoard;
    flex-direction: row-reverse;

    .subBoardItem {
        flex-direction: column-reverse;

        .pointViewer {
          flex-direction: column-reverse;

          .checkersContainer{
            flex-direction: column-reverse;
          }

          .visualPoint {
              transform: rotate(0deg);
          }
        }
    }
}

.eatenCheckerPanel {
    width: 5%;
    display: block;
    background: #9e9e9e;
    border-top: 10px solid gray;
    border-left: 10px solid gray;
    border-bottom: 10px solid gray;
}

.eatenCheckerSubPanel {
    width: 100%;
    height: 50%;
    border: 2px solid gray;
}

.eatenCheckerPanelRotated {
  @extend .eatenCheckerSubPanel;

  .pointViewer {
    flex-direction: column-reverse;

    .checkersContainer{
      flex-direction: column-reverse;
    }
  }
}

.pointViewer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.eatenCheckerSubPanel .pointViewer{
    height: 100%;
}

.subBoardItem:nth-child(even) .pointViewer .visualPoint svg{
  fill: rgba(165, 42, 42, 0.7);
}

.subBoardItem:nth-child(odd) .pointViewer .visualPoint svg{
  fill: rgba(122, 175, 132, 0.8);
}

.pointViewerOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
