.dicing {
    height: 20%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    /*font-family: sans-serif;*/
}

.messagingContainer {
    margin: 15px;
/*    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-content: center;*/
}

.messagingContainer * {
    margin: 2px;
    /*min-height: 6vmin;
    font-size: 4vmin;*/
}


.dicingButtom {
   border-top: 1px solid #000000;
   background: -webkit-linear-gradient(top, rgb(110, 185, 27) 0%,rgba(102,142,0,1) 100%);
   padding: 13px 26px;
/*   margin-top: 3vh;*/
   margin-left: 20px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   /*font-size: 17px;*/
   text-decoration: none;
   margin: 15px;
   }

.dicingButtom:active {
   /*border-top-color: #1b435e;
   background: #1b435e;*/
   }
.dicingButtom:disabled {
    color: white;
   background: -webkit-linear-gradient(top, rgba(110, 185, 27, 0.5) 0%,rgba(102,142,0,1) 100%);
}
.dicingButtom:focus {
   outline: -webkit-focus-ring-color auto 0px;
}
