.checkerChip {
  margin: 2px;
  width: 20px;
  height: 20px;
  border: solid 1px #555;
  border-radius:50%;
  transition: box-shadow 0.8s cubic-bezier(0, 0, 0.2, 1);
}

.checkerChipClient{
  composes:checkerChip;
  box-shadow: -1px 1px white;
  background-color: white;
}

.checkerChipOpponent{
  composes:checkerChip;
  box-shadow: -1px 1px black;
  background-color: black;
}

.checkerDndPreview {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*z-index: 99;*/
}
