
/*.loginImage {
    background: url('../content/dices.png') no-repeat;
    cursor: pointer;
    width: 20vmin;
    height: 20vmin;
    border: none;
    background-size: contain;
    opacity: 0.8;
    margin: 8vh auto;
}*/

/*.ui.form .field>label{
  color: red;
}*/
