.triangleUp {
    width: 10%;
    height: 0;    
    padding-left:10%;
    padding-bottom: 10%;
    overflow: hidden;
}
.triangleUp:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #4679BD;
}

.rotate180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    display: inline-block;
    width: 100%
}

.allgame {
	height: 100%;
	display: flex;
    flex-wrap: wrap;
}

.subBoardsPanel {
  width: 90%;
  height: 90%;
  display: inline-block;
  border: 15px solid gray;
}

.subBoard {
    border: 2px solid gray;
    width: 49.78%;
    height: 50%;
    display: inline-block;
}

.eatenCheckerPlace {
    width: 5%;
    display: block; 
    background: #9e9e9e;
    border: 15px solid gray;
}

.eatenCheckerPlaceChild {
       width: 100%; height: 50%; border: 2px solid gray;
}


.pointViewer {
    margin: 0 auto;
    position: relative; 
    vertical-align: bottom; 
    display: inline-block; 
    width:16.66%;
    height:100%;
}

.pointViewerOverlay {
    position: absolute;
    top: 28;
    left: 0;
    height: 100%;
    width: 100%;
    zIndex: 1;
    opacity: 0.5;
    overflow: hidden;
}

.checkersContainer {
    top: 30px;
    position: absolute; 
    height: 100%; 
    width: 100%;
    z-index: 3;
}

.checkerStyle {
    background: transparent;
    display: block;
    text-align: center;
}

.dice { 
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 5px;
}

.dicingButtom {
    display: inline-block;, 
    margin: 20px;
    height: 50px; 
    width: 55px;
}