.loginPanel {
    background: rgba(19, 35, 47, 0.9);
    padding: 7vh 5vh;
    max-width: 700px;
    height: 90vh;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    display: block;
    box-sizing: border-box;
    margin: 4vh auto;
}


.loginTitle {
    font-size: 4em;
    text-align: center;
    font-size: 8vmin;
    margin: auto;
}


.loginPanel * {
/*    margin: auto;*/
    display: block;
    color: white;

}

.loginImage {
    background: url('../content/dices.png') no-repeat;
    cursor: pointer;
    width: 20vmin;
    height: 20vmin;
    border: none;
    background-size: contain;
    opacity: 0.8;
    margin: 8vh auto;
}

.fieldContainer {
    width: 300px;
    height: 80px;
    margin: auto;
}

.fieldContainer * {
    max-width: 300px;
    margin: auto;
}

.loginInputUsername {
    color: black;
    font-size: 1.5em;
    padding: 2px;
    margin-bottom: 5px;
}

.loginInpitError {
    outline-color: red;
    background-color: antiquewhite;
    margin-bottom: 5px;
}

.loginErrorFieldMessage {
    color: rgba(255, 0, 0, 0.8);
    margin: 1px;
}

.remembrMe {
    width: 300px;
    height: 20px;
    margin: auto;
}

.remembrMe * {
    display: inline;
}

.loginButton {
    border: 0;
    outline: none;
    border-radius: 10px;
    padding: 2vh 5vw;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    margin: auto;
    margin-top: 2vh;
    width: 300px;
/*    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;*/
}

.loginButton:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}