
:global {
.checkersContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.pointViewer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
}

.pointViewerOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    overflow: hidden;
}

/*.pointViewerOverlay:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background-color: red;
  opacity: 0.5;

}*/
