.mainMenu {
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-radius: 0;
}

.logo {
  padding: 0;
  padding-right: 20px;
}

.dropdownOption {
  padding: 0.2em 0.4em;
}

.dropdownDivider {
  margin: 0.1em 0 !important;
}
